*{
	text-align: right;
}
body{

	background-image: url(car.avif);
}

h2,p{
	color: blue;
	text-align: center;
	border: 6px solid red;
	cursor: pointer;
}
p{
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 120%;
	 font-family: "Source Sans 3", sans-serif;
}
img{
	float: left;
}

button {
	color: whitesmoke;
	background-color: red;
}
body{
	background-color: gainsboro;
}
li{
	background-color:black;
	display: inline-block   ;
    background-color: whitesmoke;
}
.webtext{

    border: 5px solid whitesmoke;
	cursor: pointer;
}

.webtext{

border: 4px solid indianred;
	cursor: pointer;
}
#div1{
	background-color: whitesmoke;
}
#div2{
	background-color:grey;
}